.App-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 1600px;
  gap: 20px;
  padding: 30px 0px 30px 0px;
  text-align: center;
  background-color: rgb(234, 220, 236);
}

.App-child {
  margin-left: 30px;
  margin-right: 30px;
}

.App-child-classnav {
  order: 1;
  flex-grow: 1;
  width: 20%;
  background-color: rgb(211, 190, 218);
  border: rgb(51, 0, 68) solid 2px;
  height: 700px;
}

.App-child-maincontent {
  order: 2;
  flex-grow: 5;
  width: 20%;
  background-color: rgb(211, 190, 218);
  border: rgb(51, 0, 68) solid 2px;
  height: 100%;
}

.App-child-somethingelse {
  order: 3;
  flex-grow: 1;
  width: 20%;
  background-color: rgb(211, 190, 218);
  border: rgb(51, 0, 68) solid 2px;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.8s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Header {
  color: rgb(255, 255, 255);
  background-color: rgb(51, 0, 68);
  text-align: center;
  padding-top: 10px;
}

.Footer-container {
  color: rgb(255, 255, 255);
  background-color: rgb(51, 0, 68);
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
}

.Footer-child {
  height: 80%;
  flex-grow: 1;
  text-align: center;
  line-height: 40px;
}

.Footer-child>ul {
  list-style-type: none;
}

/* HEADER NAV CLASSES */
.nav_container {
  display: flex;
  width: 100%;
  height: 72px;
  background-color: rgb(51, 0, 68);
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.flex_content {
  background-color: rgb(229, 204, 205);
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
  color: black;
  width: 15%;
  height: 48px;
  line-height: 48px;
  border-radius: 8px;
  transition: all 100ms ease-in-out;
  user-select: none;
}

.flex_current {
  background-color: rgb(255, 255, 255);
  border: solid 4px red;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  width: 15%;
  height: 48px;
  line-height: 40px;
  border-radius: 8px;
  transition: all 100ms ease-in-out;
}

.flex_content:hover {
  transform: scale(1.05, 1.10);
  background-color: red;
  color: white;
  cursor: pointer;
}

.flex_current:hover {
  transform: scale(1.05, 1.10);
  background-color: red;
  color: white;
  cursor: pointer;
}

.flex_content:active {
  background-color: white;
  color: black;
}

.flex_current:active {
  background-color: white;
  color: black;
}

/* PFP and Header testing classes */
.headerContent {
  display: flex;
  justify-content: space-between;
}

.pfp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.flexProfile {
  float: right;
  padding-right: 10px;
}

.flexHeader {
  text-align: center;
}

.flexPropHeader {
  width: 8.6%;
}

/* Temporary Login Formatting */
.Loginform {
  background-color: aqua;
  border: black 2px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 75%;
  margin: auto;
}

.Testbox {
  background-color: lightsalmon;
  border: black 2px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 75%;
  margin: auto;
  overflow-wrap: break-word;
}

.Infotestbox {
  background-color: lightskyblue;
  border: black 2px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 75%;
  margin: auto;
  overflow-wrap: break-word;
}

/* QUESTION CLASSES */
.question_input {
  text-align: left;
  margin-left: 5%;
}

.question_input_area {
  height: 100px;
  width: 92%;
  resize: none;
}

.question {
  text-align: left;
  border: solid black 2px;
  line-height: 0px;
  padding: 6%;
  border-radius: 4%;
  background-color: purple;
  color: white;
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
}

.question_text {
  font-size: 24px;
  line-height: 24px;
}

.question_author {
  font-size: 12px;
  font-style: italic;
}

.question_votes {
  font-size: 12px;
  font-style: oblique;
}